body{
	font-family: 'Roboto', sans-serif;
	margin: 0;	
	width: 100%;
	height: 100%;
	padding: 0;
	overflow-x: hidden;
}

/* Header styles */
#header-container{
	background: #263238;
	z-index:1000
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#main-title{
	text-decoration: none;
	color: #FF5722;
	font-weight: 600;
	font-size: 25pt;
	margin: 0;
}
#main-title:hover{
	color: #F57C00;
	text-decoration: underline;
}
#header-1 #editor{color: #E0E0E0;}
#header-1 #editor span{padding: 5px 8px;}
#header-1 #editor span:hover{
	color: #E65100;
	text-decoration: underline;
}
#fb-logout-item-large img, #fb-login-item-large img{
	height: 36px;
}
.search-item:hover{
	background-color: #E65100;
	border-radius: 10px;
	padding: 3px;
}
.search-item{
	padding: 3px;
}
#fb-login-item-large span:hover{
	color: #03A9F4;
	text-decoration: underline;
}
#fb-logout-item-large span:hover{
	color: #FF5722;
	text-decoration: underline;
}
#fb-login-item-large:hover, #fb-logout-item-large:hover{
	background-color: #3b5999;
	border-radius: 10px;
}
#fb-login-item-large,#fb-logout-item-large{
	padding: 5px 15px 5px 5px;
}
#desplegable-menu{
	margin: 3px;
	background: none;
	border: none;
}
#desplegable-menu:hover { 
	filter:opacity(80%);
}
#desplegable-menu:focus { 
	filter:opacity(50%);
	outline:0 !important;
}

/*After Header*/
#after-header{
	position: relative;
	background-color: #FF5722;
	/*background: linear-gradient(to top right, #ECEFF1, #03A9F4);*/
	background: linear-gradient(to top, #FF9800,#FF5722); 
	padding: 30px 0;
}
.after-header-1 span{
	font-size: 30pt;
	font-weight: 500;
	color: white;
}

/* Main container */
#container-level{
	border: 2px solid #9E9E9E;
	border-radius: 5px;
}
#container-level p{
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: 500;
	text-decoration: underline;
}
/* Individual containers */
#midly{
	background-color: #FFEB3B;
	background: linear-gradient(to top, #FFEB3B,#FDD835); 
	font-weight: 400;
}
#hot{
	background-color: #FFC107;
	background: linear-gradient(to top, #FFC107, #FFA000); 
	font-weight: 600;
}
#super{
	background-color: #FF5722;	
	background: linear-gradient(to top, #FF5722,#E64A19); 
	font-weight: 900;
}
#midly:hover, #hot:hover, #super:hover{
	border: 3px solid #BF360C;
	filter: brightness(97%);
}

/* Footer */
#footer-1{
	padding: 0;
	background-color: #FF5722;
}
#footer-2{
	padding: 0;
	background-color: #212121;
	color: white;
	font-size: 20px;
}
#footer-2 a:visited{
	color: gray;
}

/* Change text color */
.blue{color:#2196F3;}
.orange{color:#FF9800;}
.amber{color:#FFC107;}
.deep-orange{color:#FF5722;}


/* Change design on device */
@media screen and (min-width: 992px){
	.after-header-1 span{
	font-size: 35pt;
	font-weight: 500;
	color: white;
	}
}