body{
	background-color: #FF9800;
	background: linear-gradient(to right, #FF9800,#FF5722); 
}
#password-container p{
	font-size: 70px;
	margin: 0;
}
#password{width: 400px;}
#password:focus{border: solid 1px #BF360C;}
.text-muted{font-size: 130%}

@media screen and (min-width: 992px){
	#password-container p{
		font-size: 55px;
		margin: 0;
	}
	#password{width: 370px;}
	.text-muted{font-size: 100%}
}