body{
	background-color: #FF9800;
	background: linear-gradient(to right, #FF9800,#FF5722); 
	font-family: 'Roboto', sans-serif; 
}
#password-container p{
	font-size: 50px;
	margin: 0;
	padding: 0;
}
#password{width: 250px;}
#password:focus{border: solid 1px #BF360C;}
.text-muted{font-size: 7s0%}
#password-container{margin-top: 80px;}

@media screen and (min-width: 992px){
	#password-container{margin-top: 200px;}
	#password-container p{
		font-size: 55px;
		margin: 0;
	}
	#password{width: 300px;}
	.text-muted{font-size: 80%}
}