body{
	background-color: #FF9800;
	background: linear-gradient(to right, #FF9800,#FF5722); 
}
#password-container{
	margin-top: 250px;
}
#password-container p{
	font-size: 50px;
	margin: 0;
}
#password{width: 300px;}
#password:focus{border: solid 1px #BF360C;}
.text-muted{font-size: 110%}

@media screen and (min-width: 992px){
	#password-container p{
		font-size: 35px;
		margin: 0;
	}
	#password{width: 250px;}
	.text-muted{font-size: 90%}
}